@page "/dataBarang"
@using bzrArachne.Service
@using bzrArachne.Models
@inject DataService DataService
@inject NavigationManager NavigationManager
@inject IToastService ToastService
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Data Barang</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="card-title">
                        <input type="search" @bind-value="SearchTerm" @bind-value:event="oninput" class="form-control form-control-sm" placeholder="Cari Barang ...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>Nama</th>
                                    <th>Satuan</th>
                                    <th>Stok</th>
                                    <th>Opsi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in FilteredBarang)
                                {
                                    <tr>
                                        <td>
                                            @item.Nama
                                            @if (item.Stok <= item.Minimum)
                                            {<i style="color:red; padding:8px;" class="fa fa-exclamation-circle" aria-hidden="true"></i>}
                                        </td>
                                        <td>@item.Satuan</td>
                                        <td>@item.Stok</td>
                                        <td>
                                            @if (item.Stok <= item.Minimum)
                                            {<a tabindex="_blank"@onclick="(()=>MoveToPenawaranBaru(item))" class="btn btn-block btn-primary btn-sm">
                                                Buat Penawaran
                                            </a>}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@code {
    private DataUser user = new DataUser();
    private List<DataBarang> _daftarBarang = new List<DataBarang>();
    DataBarang BarangDipilih = new DataBarang();
    string SearchTerm { get; set; } = "";
    List<DataBarang> FilteredBarang => _daftarBarang.Where(i => i.Nama.ToLower().Contains(SearchTerm)).ToList();
    List<DataBarang> StokBarang => _daftarBarang.Where(i => i.Stok <= i.Minimum).ToList();

    protected override async Task OnInitializedAsync()
    {
        user = DataService.User;
        var Token = DataService.Token;
        if (!String.IsNullOrEmpty(Token))
        {

            var dataBarang = DataService.GetDataBarangWithStream();
            await foreach (var item in dataBarang)
            {
                _daftarBarang.Add(new DataBarang
                {
                    IdBarang = item.IdBarang,
                    Nama = item.Nama,
                    Satuan = item.Satuan,
                    Stok = item.Stok,
                    Minimum = item.Minimum,
                    Maksimum = item.Maksimum,
                });
                this.StateHasChanged();
            }
            foreach (var item in StokBarang)
            {
                ToastService.ShowWarning($"{item.Nama} dengan satuan {item.Satuan} hampir habis");
            }
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }


    }
    void MoveToPenawaranBaru(DataBarang Item)
    {
        DataService.SetBarangDipilih(Item);
        NavigationManager.NavigateTo("buatPenawaran");
    }
}
