@page "/formPenawaranBarangBaru"
@using bzrArachne.Service
@using bzrArachne.Models
@inject DataService DataService

<div class="card card-dark ml-4 mr-4">
    <div class="card-header">
        <h2 class="card-title">Form Penawaran Barang Baru</h2>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Supplier</label>
                <div class="col-sm-4">
                    <input type="text" @bind="@user.Nama" disabled class="form-control">
                </div>
                @{
                    Tanggal = DateTimeOffset.UtcNow.LocalDateTime;
                }
                <label class="col-sm-1 col-form-label">Tanggal</label>
                <div class="col-sm-4">
                    <input disabled @bind="Tanggal" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Alamat</label>
                <div class="col-sm-4">
                    <textarea type="text" @bind="@user.Alamat" disabled class="form-control"></textarea>
                </div>
            </div>

            <br />
            <hr />
            <!--Form Detail Penawaran-->
            <div class="card card-dark">
                <div class="card-body">
                    <h4 class="card-blue">Detail Penawaran</h4>
                    <table style="width: 100%" border="1">
                        <thead>
                            <tr>
                                <th align="center" width="3%"> <label for="No">NO</label></th>
                                <th align="center" width="7%"> <label for="Jumlah">Jml</label></th>
                                <th align="center" width="11%"> <label for="Catatan">Catatan</label></th>
                                <th align="center" width="10%"> <label for="Satuan">Satuan</label></th>
                                <th align="center" width="25%"><label for="Nama">Nama Barang</label></th>
                                <th align="center" width="10%"><label for="Harga">Harga Satuan</label></th>
                                <th align="center" width="5%"><label for="DiskonNominal">Diskon%</label></th>
                                <th align="center" width="10%"><label for="DiskonDetil">Diskon Rp.</label></th>
                                <th align="center" width="15%"><label for="Total">Total</label></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var no = 1;

                                <tr>
                                    <td>
                                        @no
                                    </td>
                                    <td>
                                        <div>
                                            <input type="number" class="form-control">

                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <textarea type="text" class="form-control"></textarea>

                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" disabled class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" disabled class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="number" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" disabled class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>

                                            <input type="number" disabled class="form-control">
                                        </div>
                                    </td>

                                </tr>
                                no++;

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td align="right" colspan="10"><a class="btn btn-success rounded-circle"><i class="oi oi-plus"></i></a></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label border-danger">Catatan Penawaran</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <textarea type="text" class="form-control"></textarea>
                        </div>
                        <div class="col-sm-8 align-items-end pull-right right right">

                            <label class="col-sm-4 col-form-label">Total Penawaran (Rp.) : </label>
                            <input style="text-align:center" type="number" disabled class="col-sm-4 col-form-label rounded-pill border border-success" />
                        </div>
                    </div>
                </div>
            </div><!-- /.card-body -->
            <div class="card-footer">
                <button type="button" class="btn btn-default">Batal</button>
                <a type="submit" class="btn btn-primary">Submit</a>
            </div>
        </div>
    </form>

</div>
@code {
    DateTimeOffset Tanggal { get; set; }
    private DataUser user = new DataUser();
    protected override async Task OnInitializedAsync()
    {
        user = DataService.User;
        var Token = DataService.Token;
    }
}
