@page "/penawaranBaru"
@using bzrArachne.Service
@using bzrArachne.Models
@inject DataService DataService
@inject PenawaranService PenawaranService
@inject NavigationManager NavigationManager
@inject NavigationManager NavigationManager

<br />
<div class="card card-dark ml-4 mr-4">
    <div class="card-header">
        <h2 class="card-title">Penawaran Baru</h2>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nama Barang</label>
                <div class="col-sm-4">
                    <input type="text" @bind="Item.Nama" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Satuan</label>
                <div class="col-sm-4">
                    <input type="text" @bind="Item.Satuan" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Jumlah">Jumlah</label>
                <div class="col-sm-4">
                    <input type="number" min="1" @bind="Item.Stok" class="form-control">
                </div>
            </div>
            <div class="col-sm-4" style="text-align: left; font-size: 10px; color: red; margin-left: 150px;">
                <span style="margin-top:0px;">@ValidationMesssage</span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Berat">Berat</label>
                <div class="col-sm-4">
                    <input type="number" min="1" @bind="dataPenawaran.Berat" placeholder="Berat" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Berat">Harga</label>
                <div class="col-sm-4">
                    <input type="number" min="1" @onclick="HitungHarga"  @bind="dataPenawaran.Harga" class="form-control">
                </div>
            </div>
            <p>idsatuan : @Item.IdSatuan</p>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="button" @onclick="(()=>BackToBarang())" class="btn btn-default">Batal</button>
            <button type="submit" @onclick="(()=>SendDataPenawaran())"  class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>


@code {
    public string ValidationMesssage { get; set; }
    private DataBarang Item { get; set; }
    int Jumlah { get; set; } = 0;
    private double totalharga;
    private DataPenawaran dataPenawaran = new DataPenawaran();
    protected override async Task OnInitializedAsync()
    {
        Item = DataService._barangDipilih;
    }

    void BackToBarang()
    {
        DataService.SetNullBarangDipilih();
        NavigationManager.NavigateTo("dataBarang");
    }

    async void SendDataPenawaran()
    {
        var totalStok = Item.Stok + Jumlah;
        if (totalStok > Item.Maksimum)
        {
            ValidationMesssage = "Jumlah barang tidak boleh lebih dari stok maksimum";
        } else
        {
            await PenawaranService.InsertData
                (
                dataPenawaran.IdPenawaranPembelian,
                Item.IdJenisSupplier,
                Item.IdSupplier,
                dataPenawaran.IdDetilPenawaranPembelian,
                380001,
                Item.IdDivisiBarang,
                Item.IdSubDivisiBarang,
                Item.IdKategoriBarang,
                Item.IdSubKategoriBarang,
                Item.IdBarang,
                dataPenawaran.Harga,
                dataPenawaran.Jumlah,
                dataPenawaran.Berat
                );
            NavigationManager.NavigateTo("dataBarang");
        }
        return;
    }
    async void HitungHarga()
    {
        totalharga = Item.Stok * dataPenawaran.Berat;
        this.StateHasChanged();
    }
}
