@page "/penawaranBaru"
@using bzrArachne.Service
@using bzrArachne.Models
@inject DataService DataService
@inject NavigationManager NavigationManager
@inject NavigationManager NavigationManager

<br />
<div class="card card-primary ml-4 mr-4">
    <div class="card-header">
        <h2 class="card-title">Penawaran Baru</h2>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="IdKurs">Kurs</label>
                <div class="col-sm-4">
                    <input type="text" placeholder="Kurs" class="form-control" name="IdKurs" id="IdKurs">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Nama">Satuan</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="Satuan" id="Satuan">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Nama">Nama Barang</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="Nama" id="Nama">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Jumlah">Jumlah</label>
                <div class="col-sm-4">
                    <input type="number" placeholder="Jumlah" class="form-control" name="Jumlah" id="Jumlah">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Berat">Berat</label>
                <div class="col-sm-4">
                    <input type="number" placeholder="Berat" class="form-control" name="Berat" id="Berat">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Berat">Harga</label>
                <div class="col-sm-4">
                    <input type="number" placeholder="Harga" class="form-control" name="Harga" id="Harga">
                </div>
            </div>
        </div>
           
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>


@code {
    protected DataBarang Item { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Item = null;
        Item = DataService._barangDipilih;
    }


}
